{% extends "layout.html" %}

{% block title %}Etsi resepti{% endblock %}

{% block content %}
<h2>Etsi resepti</h1>
<body>
<form action="/find_item" method="get">
    <p>
        <label for="query">Hakusana:</label>
        <br />
        <input type="text" name="query" value = "{{query}}" />
        <input type="submit" value="Hae" />
    </p>
</form>
{% if query %}
<h2>Hakutulokset:</h2>
<ul>
    {% for result in results %}
    <li>
        <a href="/item/{{ result.id }}">{{ result.title }}</a>
    </li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}