<!DOCTYPE html>
<html>

<head>
  <title>Ruokareseptit</title>
</head>
<h1>Ruokareseptit</h1>
<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>

    <p>
        <a href="/login">Kirjaudu sisään</a> 
        <a href="/register">Luo tunnus</a> 
        <a href="/logout">Kirjaudu ulos</a> 
    </p>
    <p> 
        <a href="/new_item">Reseptit</a> 

    </p>

  {% endif %}

  <h2>Reseptit</h2>
    <ul>
        {% for item in items %}
        <li>
        <a href="/item/{{ item.id }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>

</body>

</html>