<!DOCTYPE html>
<html>

<head>
  <title>Ruokareseptit</title>
</head>
<h1>Ruokareseptit</h1>
<body>
  <p>{% if session.username %}
  
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}




<p>
<a href="/find_item">Etsi resepti</a> |
  {% if session.username %}
    <a href="/new_item">Luo uusi resepti</a> |
    <a href="/logout">Kirjaudu ulos</a> |
    <a href="/user/{{ session.user_id }}">Oma sivu</a>
  {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a> 
  </p>
  {% endif %}



  <h2>Reseptit</h2>
    <ul>
        {% for item in items %}
        <li>
        <a href="/item/{{ item.id }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>

</body>

</html>