{% extends "layout.html" %}

{% block title %}Ruokareseptin poisto{% endblock %}

{% block content %}
<h2>Ruokareseptin poisto</h2>
<p>Resepti {{item.title}}</p>
<p>Haluatko varmasti poistaa reseptin?</p>

<form action="/remove_item/{{ item.id }}" method="post">
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <input type="submit" name = "remove" value="Poista resepti">
    <input type="submit" name = "back" value="Palaa takaisin" >
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

    {% endblock %}