{% extends "layout.html" %}

{% block title %}Resepti{% endblock %}

{% block content %}

<h2>{{ item.title }}</h2>


    {% if session.user_id == item.user_id %}
    <p>
      <a href="/edit_item/{{ item.id }}">Muokkaa</a>
      <a href="/remove_item/{{ item.id }}">Poista</a>
    </p>
    {% endif %}
    <p>
{{ item.description }}
    </p>


reseptin luonut: <a href="/user/{{ item.user_id }}">{{ item.username }}</a>

</p>
<p> Luokat</p>
<ul>
  {% for class in classes %}
  <li> {{class.title}}: {{class.value}}</li>
  {% endfor %}
</ul>
</p>

<p>
Arviointeja {{ rating_count }} kappaletta. Arvosanojen keskiarvo: {{ rating_avg }}
</p>
<p>Arvosana</p>

<form action="/create_rating" method="post">
  <label>
    <input type="number" name="rating" min="1" max="5" required />
  </label>
  <input type="text" name="comment" maxlength="50" required/>
  <input type="hidden" name="item_id" value="{{ item.id }}">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Anna arvosana ja kommentti" />
</form>

<p>Kommentit</p>
  {% for comment in comments %}
  <div class="comment">
  <p> {{comment.comment}}</p>
</div>
  {% endfor %}


</p>


  {% endblock %}